*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #efeff2;
}
.calculator{
    height: 500px;
    width: 300px;
    box-shadow: 4px 4px 30px ;
}